.navbar a{
    font-family: 'Mulish', sans-serif; font-weight: normal; font-size: 20px;color: #6ba7b5;
    text-align: center;
}
.nav-link span{
    font-family: 'Padauk', sans-serif, cursive; font-weight: normal; font-size: 10px;color: #9b6a6a;
}
.nav-link i{
    font-family:'Padauk', sans-serif, cursive; font-weight: normal; font-size: 20px;color: #ffffff;
}
.nav-link a{
    font-family: 'Padauk', sans-serif, cursive; font-weight: normal; font-size: 20px;color: #ffffff;
}
.dropdown-menu a{
    font-family: 'Padauk', sans-serif, cursive; font-weight: normal; font-size: 20px; color: #ffffff;
}
.nav {
    text-align: center;
}

.navbar-nav .nav-item {
    float: inherit;
    display: inline-block;
}
.carousel-inner{ margin-top: 0;

}

.carousel-caption {
}

footer {
    padding: 3em 0;
}

/*Footer*/
footer {
    background: #ffffff;
}

.soc-media-ul {
    display: -webkit-box;
    display: flex;
    -webkit-box-pack: center;
    justify-content: center;
}

.soc-media-ul li:not(:first-child) a {
    margin-left: 1em;
}

.soc-media-ul a {
    display: block;
    padding: 0.5em .65rem;
    font-size: 1rem;
    color: #fff;
    border: 2px solid;
}
.soc-media-ul a:hover, .soc-media-ul a:focus {
    color: #ad0000;
}
.circular--landscape {
    display: inline-block;

    width: 200px;
    height:200px;
    overflow: hidden;
    border-radius: 50%;

}

.circular--landscape img {
    width: auto;
    height: auto;
    margin-top: 600px;
    object-fit: cover;
}
.circular2--landscape {
    display: inline-block;
    overflow: hidden;
    border-radius: 9%;

}

.circular2--landscape img {
    width: 180px;
    height:180px;
    margin-top: 0;
    object-fit: cover;
}


a.button2{
    display:inline-block;
    padding:0.3em 1.2em;
    margin:0 0.1em 0.1em 0;
    border:0.16em solid rgb(88, 87, 90);
    border-radius:2em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Comfortaa',sans-serif;
    font-weight:900;
    color: rgb(59, 59, 59);
    text-shadow: 0 0.04em 0.04em rgba(236, 216, 216, 0.35);
    text-align:center;
    transition: all 0.2s;
}
a.button1{
    display:inline-block;
    padding:0.35em 1.2em;
    border:0.1em solid #323232;
    margin:0 0.3em 0.3em 0;
    border-radius:0.12em;
    box-sizing: border-box;
    text-decoration:none;
    font-family:'Roboto',sans-serif;
    font-weight:300;
    color: #404040;
    text-align:center;
    transition: all 0.2s;
}
a.button1:hover{
    color: #ffffff;
    background-color: #000000;
}
@media all and (max-width:30em){
    a.button1{
        display:block;
        margin:0.4em auto;
    }
}
a.button2:hover{
    border-color: rgb(255, 255, 255);
}

.bouncy{
    animation:bouncy 5s infinite linear;
    position:relative;
}
@keyframes bouncy {
    0% {
        top: 0
    }
    40% {
        top: 0
    }
    43% {
        top: -0.9em
    }
    46% {
        top: 0
    }
    48% {
        top: -0.4em
    }
    50% {
        top: 0
    }
    100% {
        top: 0;
    }
}
a.button11{
    display:inline-block;
    padding:0 0;
    border:0 solid transparent;
    margin:0 0 0 0;
    border-radius:0;
    text-decoration:none;
    font-family:'Baloo Tamma 2', serif;
    font-weight:300;
    font-size: 18px;
    color: #050505;
    text-align:center;
    transition: all 0.2s;
}
a.button11:hover{
    color: #a7a7a7;
    background-color:transparent;
}

body {
    margin-top: 0;
}

.card {
    border: none;
}

.card-img {
    border-radius: 0;
}

.vgr-cards .card {
    display: -webkit-box;
    display: flex;
    flex-flow: wrap;
    flex: 100%;
    margin-bottom: 40px;
}
.vgr-cards .card:nth-child(even) .card-img-body {
    -webkit-box-ordinal-group: 3;
    order: 2;
}
.vgr-cards .card:nth-child(even) .card-body {
    padding-left: 0;
    padding-right: 1.25rem;
}
@media (max-width: 576px) {
    .vgr-cards .card {
        display: block;
    }
}
.vgr-cards .card-img-body {
    -webkit-box-flex: 1;
    flex: 1;
    overflow: hidden;
    position: relative;
}
@media (max-width: 576px) {
    .vgr-cards .card-img-body {
        width: 100%;
        height: 200px;
        margin-bottom: 20px;
    }
}
.vgr-cards .card-img {
    width: 100%;
    height: auto;
    position: absolute;
    margin-left: 50%;
    -webkit-transform: translateX(-50%);
    transform: translateX(-50%);
}
@media (max-width: 1140px) {
    .vgr-cards .card-img {
        margin: 0;
        -webkit-transform: none;
        transform: none;
        width: 100%;
        height: auto;
    }
}
.vgr-cards .card-body {
    -webkit-box-flex: 2;
    flex: 2;
    padding: 0 0 0 1.25rem;
}
@media (max-width: 576px) {
    .vgr-cards .card-body {
        padding: 0;
    }
}
.img {
    position: relative;
    size: auto;
}

.table-fill {
    background: white;
    border-radius:3px;
    border-collapse: collapse;
    height: 320px;
    margin: auto;
    max-width: 600px;
    padding:5px;
    width: 100%;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    animation: float 5s infinite;
}

th {
    color:#D5DDE5;;
    background:#1b1e24;
    border-bottom:4px solid #9ea7af;
    border-right: 1px solid #343a45;
    font-size:23px;
    font-weight: 100;
    padding:24px;
    text-align:left;
    text-shadow: 0 1px 1px rgba(0, 0, 0, 0.1);
    vertical-align:middle;
}

th:first-child {
    border-top-left-radius:3px;
}

th:last-child {
    border-top-right-radius:3px;
    border-right:none;
}

tr {
    border-top: 1px solid #C1C3D1;
    border-bottom-: 1px solid #C1C3D1;
    color:#666B85;
    font-size:16px;
    font-weight:normal;
    text-shadow: 0 1px 1px rgba(256, 256, 256, 0.1);
}

tr:hover td {
    background:#4E5066;
    color:#FFFFFF;
    border-top: 1px solid #22262e;
}

tr:first-child {
    border-top:none;
}

tr:last-child {
    border-bottom:none;
}

tr:nth-child(odd) td {
    background:#EBEBEB;
}

tr:nth-child(odd):hover td {
    background:#4E5066;
}

tr:last-child td:first-child {
    border-bottom-left-radius:3px;
}

tr:last-child td:last-child {
    border-bottom-right-radius:3px;
}

td {
    background:#FFFFFF;
    padding:20px;
    text-align:left;
    vertical-align:middle;
    font-weight:300;
    font-size:18px;
    text-shadow: -1px -1px 1px rgba(0, 0, 0, 0.1);
    border-right: 1px solid #C1C3D1;
}

td:last-child {
    border-right: 0;
}

th.text-left {
    text-align: left;
}

th.text-center {
    text-align: center;
}

th.text-right {
    text-align: right;
}

td.text-left {
    text-align: left;
}

td.text-center {
    text-align: center;
}

td.text-right {
    text-align: right;
}
